{% extends 'base.html' %}
{% block content %}

    
    <div class="container">

        <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    MOST RATED MOVIES
                  </button>
                </h2>
              </div>
          
              <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="row">
                        {% for discover_data in discover_datas %}
                        <div class="col-sm-2">
                            <div class="card" style="width: 10rem;">
                                <a href="{% url 'movie_detail' pk=discover_data.id %}"><img src="{{ base_url }}{{ sizes }}{{ discover_data.poster_path }}" class="card-img-top" alt="Actor Picture"></a>
                                <div class="card-body">
                                    <a href="{% url 'movie_detail' pk=discover_data.id %}"><p class="card-text text-center">{{ discover_data.title }}({{ discover_data.release_date }})</p></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    MOST RATED TV SERIES
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="row">
                        {% for serie_data in serie_datas %}
                        <div class="col-sm-2">
                            <div class="card" style="width: 10rem;">
                                <a href="{% url 'tvserie_detail' pk=serie_data.id %}"><img src="{{ base_url }}{{ sizes }}{{ serie_data.poster_path }}" class="card-img-top" alt="Actor Picture"></a>
                                <div class="card-body">
                                    <a href="{% url 'tvserie_detail' pk=serie_data.id %}"><p class="card-text text-center">{{ serie_data.name }}({{ serie_data.first_air_date }})</p></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Collapsible Group Item #3
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
        </div>
    </div>

    

    {% endblock %}