{% extends 'base.html' %}
{% block content %}
    

    <div class="container">
        
        <div>
            <div class="card">
                <div class="card-header">
                    MOVIE SEARCH RESULTS
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for result in search_result %}
                        {% if result.media_type == "movie" %}
                        <div class="col-sm-2">
                            <div class="card" style="width: 10rem;">
                                <a href="{% url 'movie_detail' pk=result.id %}"><img src="{{ base_url }}{{ sizes }}{{ result.poster_path }}" class="card-img-top" alt="Actor Picture"></a>
                                <div class="card-body">
                                    <a href="{% url 'movie_detail' pk=result.id %}">{% if result.name %}<p>{{ result.name }}</p>{% else %}<p>{{ result.title }}</p>{% endif %}</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    TV SERIES SEARCH RESULTS
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for result in search_result %}
                        {% if result.media_type == "tv" %}
                        <div class="col-sm-2">
                            <div class="card" style="width: 10rem;">
                                <a href="{% url 'tvserie_detail' pk=result.id %}"><img src="{{ base_url }}{{ sizes }}{{ result.poster_path }}" class="card-img-top" alt="Actor Picture"></a>
                                <div class="card-body">
                                    <a href="{% url 'tvserie_detail' pk=result.id %}">{% if result.name %}<p>{{ result.name }}</p>{% else %}<p>{{ result.title }}</p>{% endif %}</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    PERSON SEARCH RESULTS
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for result in search_result %}
                        {% if result.media_type == "person" %}
                        <div class="col-sm-2">
                            <div class="card" style="width: 10rem;">
                                <a href="{% url 'person_detail' pk=result.id %}"><img src="{{ base_url }}{{ profile_sizes }}{{ result.profile_path }}" class="card-img-top" alt="Actor Picture"></a>
                                <div class="card-body">
                                    <a href="{% url 'person_detail' pk=result.id %}">{% if result.name %}<p>{{ result.name }}</p>{% else %}<p>{{ result.title }}</p>{% endif %}</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    
                </div>
            </div>
        </div>
        
        
            
    </div>
    
    
   

    

{% endblock %}